
<li class="message" >
  <img src="https://icon-icons.com/icons2/827/PNG/512/user_icon-icons.com_66546.png" alt="" width="25"  height="25"/>
  <p style="padding-left:30px;margin-top:-15%"> <%= message.content -%>  </p>
</li>
