<!doctype html>

<html lang="en">



<meta charset="utf-8">

<title>Responsive Header Nav</title>

<meta name="description" content="Responsive Header Nav">

<meta name="author" content="Treehouse">

<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">

<link rel="stylesheet" href="/fonts.css">
<link rel="stylesheet" href="/mapusuario.css">

<link rel="stylesheet" href="/cssEdw.css">

<!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->




<header>

<a href="#" id="logo">  <img src="/assets/images/Universidad_de_Lima.png" class="logooo"  height="40"></a>

<nav>

<a href="#" id="menu-icon"></a>


<ul>


  <img src="<%=@imagenxD%>" width="40" height="40"/>

  <li><a href="/usuariomap/mapuser"> Inicio</a></li>



    <li><a href="/usuariomap/Promociones" >Asesorias</a></li>
    <li><a href="/usuariomap/datosuser">Mi Cuenta</a></li>

  <li><a  onclick="ingresarr()" style="color:#FF0000; text-transform: uppercase "  >Bienvenido <%=@idUsuario%></a></li>
  <li><a href="/login/index" >Salir</a></li>
</ul>

</nav>

</header>


<style media="screen">

.clasificacion{
      direction: rtl;/* right to left */
      unicode-bidi: bidi-override;/* bidi de bidireccional */
  }
  input[type = "radio"]:checked ~ label{color:orange;}
input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
    background-color: #3CBC8D;
    color: white;
}

.formularios{
  border-radius: 10px;     background-color: #f2f2f2;  padding: 20px;
}

#Registrodatos{
  padding-left:63%; width:100%; margin-top: -1%
}


@media screen and (min-width:300px) and (max-width:800px) {
#Registrodatos{   padding-left:10%;margin-top:100%; position:static;}
input[type=text] {}
}
</style>



















    <head>
      <title>Custom Markers</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      <meta charset="utf-8">
      <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 100%;
              padding-top: 600px;
                 border: 5px solid;

        }
        /* Optional: Makes the sample page fill the window. */
        html, body {

          width:280px;
          height:600px;

      padding-top: 50px;


            }
      </style>
    </head>
    <body>



























    </body>

















  </html>
