/* ------------------------------------------------------------------
Project: Semantic
Place here your custom CSS styles
------------------------------------------------------------------ */
.btn.btn-lg2 {
    padding: 12px 45px;
    font-size: 18px;
    }
