
<html lang="en">



<meta charset="utf-8">

<title>Responsive Header Nav</title>

<meta name="description" content="Responsive Header Nav">

<meta name="author" content="Treehouse">

<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">

<link rel="stylesheet" href="/fonts.css">
<link rel="stylesheet" href="/mapusuario.css">

<link rel="stylesheet" href="/cssEdw.css">
<link rel="stylesheet" type="text/css" href="/login.css">


<!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->




<header>

<a href="/login/admin" id="logo" >  <img src="/assets/images/Universidad_de_Lima.png" width="60"  height="60"> UlimaAsesorias  </a>

<nav>

<a href="#" id="menu-icon"></a>


<ul>


  <img src="<%=@imagenxD%>" width="40" height="40"/>

  <li><a href=""> Nosotros</a></li>



    <li><a href="" >Sevicios</a></li>
    <li><a href="">Actividades</a></li>

  <li><a  onclick="ingresar()" ondblclick="finalR()" style="color:#FF0000 "  > <%=@idUsuario%></a></li>
  <li><a href="/login/inicio" >Salir</a></li>
</ul>

</nav>

</header>




<script type="text/javascript">



var clic =  1;
var clic2 = 1;
function ingresar(){

if(clic==1){
   document.getElementById("log1").style.display="block";
   clic = clic + 1;
   } else{
       document.getElementById("log1").style.display="none";
    clic = 1;
   }

}

function  registraru(){
       document.getElementById("log1").style.display="none";

	if(clic2==1){
	   document.getElementById("regH").style.display="block";
	   clic2 = clic2 + 1;
	   } else{
	       document.getElementById("regH").style.display="none";
	    clic2 = 1;
	   }
}

function finalR(){
document.getElementById("regH").style.display="none";
 document.getElementById("log1").style.display="none";

}

</script>
<style media="screen">

.clasificacion{
      direction: rtl;/* right to left */
      unicode-bidi: bidi-override;/* bidi de bidireccional */
  }
  /*input[type = "radio"]:checked ~ label{color:orange;}*/
input[type=text] {
  width: 75%;
  height: 2%;
  padding: 3px 5px;
  margin: 10px 14px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
    background-color: #EBF5FB  ;

}

.formularios{
  border-radius: 10px;     background-color: #f2f2f2;  padding: 20px;
}

#Registrodatos{
  padding-left:63%; width:100%; margin-top: -1%;position:fixed;
}


@media screen and (min-width:300px) and (max-width:800px) {

#Registrodatos{
  padding-left:10%;margin-top:-350%; position:relative;width: 140%;
}
#usuarioall{
width: 100%;

margin-top:220%;
}

#kikoL{
  margin-top:100%;
}
input[type=text] {}
}
</style>






    <head>
      <title>Custom Markers</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      <meta charset="utf-8">
      <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 100%;
              padding-top: 600px;
                 border: 5px solid;

        }
        /* Optional: Makes the sample page fill the window. */
        html, body {

          width:280px;
          height:600px;

      padding-top: 50px;


            }
      </style>
    </head>
    <body>





<div id="log1" style="display:none">



  <div  id="LoginH" class="LoginH"  >

  <div class="container">


    <section id="content"   >

      <form method="post" action="verificar">

        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"  >

        <h1  id="ti">Asesorias Ulima</h1>
        <div id="inputL">


                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">codigo</label>
                    <div class="col-sm-10"  >
                      <input class="form-control" type="codigousuario" placeholder="codigo usuario" required="" id="codigou"    name="codigou"   />
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                      <div class="col-sm-10">
                        <input  class="form-control" type="password" placeholder="clave" required="" id="password"   name="clave"/>
                      </div>
                    </div>
                  </div>




                  <div >
                    <input class="btn btn-default"  type="submit" value="Login" id="a1"  onmouseover="checkCookie()"  />
                    <a   class="btn btn-default" onclick="registraru()"  id="a2">Register</a>
                  </div>
        </form>


                <div class="button">
                  <a>
                    <%  if @mensaje==true         %>

                    <script type="text/javascript">
                    document.getElementById("log1").style.display="block";

                    </script>

                    <a > "Usuario Incorrecto"</a>
                    <%end%>

                    <%  if @mensaje==2        %>

                    <script type="text/javascript">
                    document.getElementById("log1").style.display="block";

                    </script>

                    <a > "Comuniquese con el administrador para activar su cuenta"</a>
                    <%end%>

                    <%  if @mensaje==false         %>

                                        <script type="text/javascript">
                                        document.getElementById("log1").style.display="block";

                                        </script>

                    <a > "Usuario correcto"</a>
                    <%end%>
                  </a>
                </div><!-- button --   >


      </section><!-- content -->



      </div><!-- container -->

  </div>
    </div>

</div>
<!-- --------------------------------------------rEgistrar------------------------------>







  <div  id="regH" style="display:none">
    <div  id="LoginH"  class="LoginH">
  <div class="container">
  <section id="content">
    <form method="get" action="registrar" name="registro">



      <h1>Registrese</h1>
  <div id="inputL">

      <div>
        <input  class="form-control" type="text" placeholder="codigo usuario" required="" id="username"    name="codigou"/>
      </div>
      <hr>
      <div>
        <input  class="form-control" type="password" placeholder="clave" required="" id="password"   name="clave"/>
      </div>
<hr>

      <div class="button">

                      <div>
                        <input type="submit" value="Registrar"   />
                        <%  if @mensaje1==true         %>
                        <script type="text/javascript">
                        document.getElementById("regH").style.display="block";

                        </script>
                         <a > "Gracias por registrarse, en un momento el administrador recibira su petición"</a>
                         <%end%>

                        <%  if @mensaje1==false         %>
                        <script type="text/javascript">
                        document.getElementById("regH").style.display="block";

                        </script>

                        <a > "Su usuario ya existe"</a>


                        <%end%>
                        </div>
        </div>


  </div>




    </form>

  </section><!-- content -->
  </div><!-- container -->
  </div>
</div>















<div class="container">   <!-- Primer contenedor -->
       <div class="row conborde">     <!-- Primera fila -->


         <div class=".col-lg-9  col-sm-9 .col-3 fondorojo" >     <!-- Primer bloque de 4 columnas -->




           <a href="#" id="logo" >  <img src="/banner.png" width="500"  height="300"> </a>




</div>


         <div class=".col-lg-3  col-sm-3 .col-9 fondogris"  >      <!-- Segundo bloque de 4 columnas -->



          </div>

          <div id="messages">
              <%= render @messages %>
            </div>

            <form>
              <label>Escribe algo:</label>
              <br>
              <input type="text" data-behavior="room_speaker">
            </form>




       </div>
















</div>




























</body>
</html>
